<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TedxPal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="floating-model-selector">
      
        <select class="model-dropdown">
            <option value="" disabled selected hidden>Choose LLM</option>
          <option value="cohere">Cohere</option>
          <option value="deepseek">Deepseek</option>
          <option value="llama">LLaMA</option>
          <option value="mistral">Mistral</option>
          <option value="gemma2-9b-it">Gemma 2</option>
        </select>
      </div>  
    <div id="particles-js"></div>
    <div class="app-logo">
        <img src="{{ url_for('static', filename='logo.png') }}" >
    </div>

    <div class="chat-container">
        <h1 class="chat-title"> Ted X Chat</h1>
   

   

        <div id="chatBox" class="chat-messages"></div>

        <div class="input-container">
            <input type="text" id="userInput" placeholder="Type your message...">
            <button onclick="sendMessage()">📩</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='particles-config.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
